[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/sapphire-paratime"]
	path = lib/sapphire-paratime
	url = https://github.com/oasisprotocol/sapphire-paratime
